#transactions .transactions-container {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 0;
}

#transactions .container-fluid {
    padding: 2% 20% 0% 20%;
}

#transactions .active {
    color: white;
    background-color: #ff4c68;
    border-color: #ff4c68;
    font-family: "Montserrat-Light";
    font-weight: 900;
    font-size: 1.4rem;
}

#transactions .non-active {
    color: #ff4c68;
    font-family: "Montserrat-Light";
    font-weight: 900;
    font-size: 1.4rem;
}

#transactions .non-active:hover {
    color: #ff4c68;
}

#transactions-container {
    background-color: #ff4c68;
    padding-top: 10px;
    padding-bottom: 10px;
}

#transactions-container .container-fluid{
    padding: 0;
}

#transactions .transaction-photo {
    height: 200px;
    width: 100%;
}

#transactions .transaction-card {
    margin-bottom: 15px;
    margin-top: 15px;
}

#transactions .transaction-heading {
    font-weight: 900;
    font-family: "Montserrat-Light";
    color: #ff4c68;
    font-size: 1.8rem;
}

#transactions .transaction-subdetails {
    color: black;
    display: table-cell;
    vertical-align: middle;
    height: 125px;
    padding-top: 30px;
    font-weight: bold;
}

#transactions .transaction-subdetail {
    padding: 0;
    margin-bottom: 0;
}

#transactions .transaction-body {
    padding: 0.5rem;
}

#transactions .transaction-details {
    padding: 1rem;
}