<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="common/home :: header"></div>
</head>

<body>
    <section id="heading">
        <div class="container-fluid">
            <div th:replace="common/home :: navBar"></div>
        </div>
    </section>
    <section id="events">
        <div class="container-fluid">
            <!-- https://stackoverflow.com/questions/33106391/how-to-check-if-list-is-empty-using-thymeleaf >-->
            <!--https://www.baeldung.com/spring-thymeleaf-conditionals-->
            <span th:if="${not #lists.isEmpty(events)}"><div th:replace="common/home :: addEvent"></div></span>

            <div class="card-columns">
                <div class="card" th:each="event : ${events}">
                    <div class="card-body card-header">
                        <!--TODO: If image is empty then, keep background as pink-->
                        <img class="card-img-top image" th:src="@{${event.imageUrl}}" alt="Event Image">
                        <div class="dropdown show card-img-overlay options">
                            <a class="card-dropdown-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">View</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Edit</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body card-footer">
                        <h3 class="card-title"><span th:text="${event.name}"></span></h3>
                        <h6 class="card-subtitle"><span th:text="${event.date}"></span></h6>
                        <h6 class="card-subtitle"><span th:text="${event.from}"></span> | <span th:text="${event.durationString}"></span> </h6>
                        <h6 class="card-subtitle"><span th:text="${event.place}"></span></h6>
                        <p class="card-description"><span th:text="${event.shortDescription}"></span>...</p>
                        <a href="#" class="btn btn-light btn-sm card-link float-right card-read-more">Read more...</a>
                    </div>
                </div>
            </div>
            <div th:replace="common/home :: addEvent"></div>
        </div>
    </section>
</body>
</html>