<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <span th:if="${userId != null}"><div th:replace="common/home :: header"></div></span>
    <span th:if="${userId == null}"><div th:replace="common/index :: header"></div></span>
</head>
<body>
    <section id="heading">
        <div class="container-fluid">
            <span th:if="${userId != null}">
                <div th:replace="common/home :: navBar"></div>
            </span>
            <span th:if="${userId == null}">
                <div th:replace="common/index :: navbar"></div>
            </span>
        </div>
    </section>

    <section id="events">
        <div class="container-fluid">

            <span th:if="${error != null}" >
                <div class="d-flex justify-content-center">
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" style="width: 500px;">
                        <strong th:text="${error}"></strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                </div>
            </span>

            <span th:if="${success != null}" >
                <div class="d-flex justify-content-center">
                    <div class="alert alert-success alert-dismissible fade show text-center" role="alert" style="width: 500px;">
                        <strong th:text="${success}"></strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                </div>
            </span>

            <!-- https://stackoverflow.com/questions/33106391/how-to-check-if-list-is-empty-using-thymeleaf >-->
            <!--https://www.baeldung.com/spring-thymeleaf-conditionals-->
            <span th:if="${userId != null and not #lists.isEmpty(events)}">
                <div th:replace="common/home :: addEvent"></div>
            </span>

            <div class="card-columns">
                <div class="card" th:each="event : ${events}">
                    <div class="card-body card-header">
                        <div th:if="${event.imageUrl == null}">
                            <img class="card-img-top" th:src="@{/images/default.png}" alt="Event Image">
                        </div>
                        <div th:unless="${event.imageUrl == null}">
                            <img class="card-img-top" th:src="@{/event-photos/{path} (path=${event.imageUrl})}" alt="Event Image">
                        </div>
                        <div class="dropdown show card-img-overlay options">
                            <a class="card-dropdown-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" th:href="@{/events/{path}(path=${event.id})}">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body card-footer">
                        <h3 class="card-title"><span th:text="${event.name}"></span></h3>
                        <h6 class="card-subtitle"><span th:text="${event.date}"></span></h6>
                        <h6 class="card-subtitle"><span th:text="${event.from}"></span> | <span th:text="${event.durationString}"></span> </h6>
                        <h6 class="card-subtitle"><span th:text="${event.place}"></span></h6>
                        <p class="card-description"><span th:text="${event.shortDescription}"></span>...</p>
                        <a th:href="@{/events/{path}(path=${event.id})}" class="btn btn-light btn-sm card-link float-right card-read-more">Read more...</a>
                    </div>
                </div>
            </div>
            <span th:if="${userId != null}">
                <div th:replace="common/home :: addEvent"></div>
            </span>
        </div>
    </section>

    <span th:if="${userId != null}"><div style="height:400px; width:100%; clear:both;"></div></span>
    <span th:if="${userId == null}">
        <div th:replace="common/index :: foot"></div>
    </span>

    <script th:inline="javascript">
         //Resource: https://newbedev.com/how-to-keep-footer-at-the-bottom-even-with-dynamic-height-website

        $(document).ready(function() {
            var docHeight = $(window).height();
            var footerHeight = $('#footer').height();
            var footerTop = $('#footer').position().top + footerHeight;

            if (footerTop < docHeight) {
                $('#footer').css('margin-top', 10+ (docHeight - footerTop) + 'px');
            }
        });
    </script>
</body>
</html>