<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="common/home :: header"></div>
</head>

<body>
<section id="heading">
    <div class="container-fluid">
        <div th:replace="common/home :: navBar"></div>
    </div>
</section>
<section id="events">
    <div class="container-fluid">

<!--        <div class="card-deck">-->
<!--            <% if(clients != null && clients.length > 0) { %>-->
<!--            <% clients.forEach(function(client) { %>-->
<!--            <div class="col-lg-4 card-column" style="max-width: 18rem;">-->
<!--                <div class="card text-center border-dark mb-3" >-->
<!--                    &lt;!&ndash; <img class="card-img-top" src="..." alt="Client image"> &ndash;&gt;-->
<!--                    <div class="card-header">-->
<!--                        <h5 class="card-title"><%= client.name %></h5>-->
<!--                    </div>-->

<!--                    <div class="card-body" style="text-align: left;">-->
<!--                        <label style="font-weight: bold;">Date of Shoot:</label>-->
<!--                        <p class="card-text client-info"><%= client.date.toLocaleDateString("en-US") %></p>-->
<!--                        <label style="font-weight: bold;">Location:</label>-->
<!--                        <p class="card-text client-info"><%= client.city + ", " + client.state + ", " + client.country + ", " + client.zip %></p>-->
<!--                    </div>-->
<!--                    <div class="card-footer">-->
<!--                        <% var url = "/" + client.id + "/photos"; %>-->
<!--                        <a href=<%= url %> class="btn btn-dark">Photos</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <% }) %>-->
<!--            <%}%>-->
<!--        </div>-->

        <div class="addEvent">
            <a class="btn btn-dark btn-lg addEventButton" data-toggle="modal" data-target="#askInfo" role="button" style="color: white;"><i class="fas fa-map-pin"></i> Add Event</a>

            <div class="modal fade" id="askInfo" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Enter Event Information: </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <form th:action="@{/addEvent}" method="post">
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label>Event Name*</label>
                                        <input type="text" class="form-control" placeholder="Event Name" name="name" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Host*</label>
                                        <input type="text" class="form-control" placeholder="Host" name="host" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label>Venue*</label>
                                        <input type="text" class="form-control" placeholder="Venue" name="venue" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3 mb-3">
                                        <label>City*</label>
                                        <input type="text" class="form-control" placeholder="City" name="city" required>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>State*</label>
                                        <input type="text" class="form-control" placeholder="State" name="state" required>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Country*</label>
                                        <input type="text" class="form-control" placeholder="Country" name="country" required>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Zip*</label>
                                        <input type="text" class="form-control" placeholder="Zip" name="zip" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3 mb-3">
                                        <label>Date*</label>
                                        <input type="date" class="form-control" placeholder="Date" name="date" required />
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>From*</label>
                                        <input type="time" class="form-control" placeholder="From" name="from" required />
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>To*</label>
                                        <input type="time" class="form-control" placeholder="To" name="to" required />
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Total Seats*</label>
                                        <input type="text" class="form-control" placeholder="Total Seats" name="seats" required />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label>Description</label>
                                        <textarea class="form-control" rows="3" placeholder="Description" name="description"></textarea>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label>Upload Image</label>
                                        <input class="form-control" type="file">
                                    </div>
                                </div>
                                <div id="passwordHelpBlock" class="form-text">
                                    *Fields are Mandatory
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-dark addEventButton1" style="color: white;">Add Event</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>