<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="common/index :: header"></div>
</head>
<body>
    <section id="heading">
        <div class="container-fluid">
            <div th:replace="common/index :: navbar"></div>
        </div>
    </section>

    <section id="events">
        <div class="container-fluid">
            <div class="card-columns">
                <div class="card" th:each="event : ${events}">
                    <div class="card-body card-header">
                        <!--TODO: If image is empty then, keep background as pink-->
                        <img class="card-img-top image" th:src="@{/event-photos/{path} (path=${event.imageUrl})}" alt="Event Image">
                    </div>
                    <div class="card-body card-footer">
                        <h3 class="card-title"><span th:text="${event.name}"></span></h3>
                        <h6 class="card-subtitle"><span th:text="${event.date}"></span></h6>
                        <h6 class="card-subtitle"><span th:text="${event.from}"></span> | <span th:text="${event.durationString}"></span> </h6>
                        <h6 class="card-subtitle"><span th:text="${event.place}"></span></h6>
                        <p class="card-description"><span th:text="${event.shortDescription}"></span>...</p>
                        <a th:href="@{/events/{eventId} (eventId=${event.id})}" class="btn btn-light btn-sm card-link float-right card-read-more">Read more...</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="common/index :: foot"></div>
</body>
</html>