<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="common/home :: header"></div>
</head>

<body>
    <section id="heading">
        <div class="container-fluid">
            <div th:replace="common/home :: navBar"></div>
        </div>
    </section>
    <section id="main" style="background-color: white;">
        <div class="container-fluid">
            <h1>Welcome <span th:text="${name}"></span>!</h1>
        </div>
    </section>
</body>
</html>