<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="common/index :: header"></div>
</head>
<body>
    <section id="heading">
        <div class="container-fluid">
            <div th:replace="common/index :: navbar"></div>

            <div class="row">
                <div class="col-lg-8 title-heading">
                    <div class="container">
                        <h3 class="heading">EXPERIENCING UNFORGETTABLE</h3>
                        <h1 class="big-heading">memories</h1>
                    </div>
                </div>

                <div class="col-lg-4 image-holder">
                    <img class="title-image" th:src="@{images/title-image.jpg}" alt="title">
                </div>

            </div>
        </div>
        </div>
    </section>

    <section id="contact">

    </section>
</body>
</html>