<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <div th:replace="common/home :: header"></div>
</head>
<body>
  <section id="heading">
    <div class="container-fluid">
      <div th:replace="common/home :: navBar"></div>
    </div>
  </section>

  <section id="userProfile">
    <div class="color-background" ></div>
    <div class="profile-container">
      <div class="container-fluid">
        <div class="row flex-grow-1">
          <div class="col-lg-6" id="profile-pic">
            <div th:if="${user.image == null}">
              <img class="user-image" th:src="@{/images/profilePic.png}" alt="profile" />
            </div>
            <div th:unless="${user.image == null}">
              <img class="user-image" th:src="@{/event-photos/{path} (path=${user.image})}" alt="profile" />
            </div>
          </div>
          <div class="col-lg-6" id="profile-details">
            <div>
              <h1 class="profile-name" th:text="${user.name}"></h1>
            </div>
            <div class="profile-info">
              <p><i class="far fa-calendar-alt"></i> <span th:text="${user.dob}"></span></p>
              <p><i class="fas fa-phone-alt"></i> <span th:text="${user.phone}"></span></p>
              <p><i class="far fa-envelope"></i> <span th:text="${user.email}"></span></p>
              <p><i class="fas fa-map-marker-alt"></i> <span th:text="${user.location}"></span></p>
            </div>
            <div class="card-img-overlay">
              <a type="button" class="profile-edit-icon" data-toggle="modal" data-target="#askForUpdate"><i class="fas fa-user-edit"></i></a>

              <div class="modal fade" id="askForUpdate" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" style="color: #ff4c68; font-weight: bold;">Update User Details: </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <form th:action="@{/profile}" method="post" enctype="multipart/form-data">
                      <div class="modal-body">
                        <div class="form-row">
                          <div class="col-md-12 mb-3">
                            <label>Address*</label>
                            <input type="text" class="form-control" placeholder="Address" th:field="*{user.address}" required>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-md-3 mb-3">
                            <label>City*</label>
                            <label>
                              <input type="text" class="form-control" placeholder="City" th:field="*{user.city}" required>
                            </label>
                          </div>
                          <div class="col-md-3 mb-3">
                            <label>State*</label>
                            <label>
                              <input type="text" class="form-control" placeholder="State"  th:field="*{user.state}" required>
                            </label>
                          </div>
                          <div class="col-md-3 mb-3">
                            <label>Country*</label>
                            <label>
                              <input type="text" class="form-control" placeholder="Country" th:field="*{user.country}" required>
                            </label>
                          </div>
                          <div class="col-md-3 mb-3">
                            <label>Zip*</label>
                            <label>
                              <input type="text" class="form-control" placeholder="Zip"  th:field="*{user.zip}" required>
                            </label>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-md-6 mb-3">
                            <label>Date Of Birth*</label>
                            <input type="date" class="form-control" placeholder="Date"  th:field="*{user.dob}" required/>
                          </div>
                          <div class="col-md-6 mb-3">
                            <label>Phone Number*</label>
                            <div class="row" style="text-align: right;">
                              <div class="col-md-2" style="padding-right: 1px;">
                                <input type="text" class="form-control" style="text-align: center;" th:field="*{user.countryCode}" th:size="2" th:maxlength="2" pattern="[+]{1}[0-9]{1}" title="Plus followed by one numeric digit" required/>
                              </div>
                              <span style="text-align: center; padding-top: 5px;">&nbsp;-&nbsp;</span>
                              <div class="col-md-2"  style="padding-left: 1px; padding-right: 1px;">
                                <input type="text" class="form-control" style="text-align: center;" th:field="*{user.areaCode}" th:size="3" th:maxlength="3" pattern="[0-9]{3}" title="Three numeric digits" required/>
                              </div>
                              <span style="text-align: center; padding-top: 5px;">&nbsp;-&nbsp;</span>
                              <div class="col-md-3"  style="padding-left: 1px; padding-right: 1px;">
                                <input type="text" class="form-control" style="text-align: center;" th:field="*{user.exchangeCode}" th:size="3" th:maxlength="3" pattern="[0-9]{3}" title="Three numeric digits" required/>
                              </div>
                              <span style="text-align: center; padding-top: 5px;">&nbsp;-&nbsp;</span>
                              <div class="col-md-3"  style="padding-left: 1px;">
                                <input type="text" class="form-control" style="text-align: center;" th:field="*{user.lineNumber}" th:size="4" th:maxlength="4" pattern="[0-9]{4}" title="Four numeric digits" required/>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-md-12 mb-3">
                            <label>Upload Image</label>
                            <input class="form-control" type="file" name="profilePic" />
                          </div>
                        </div>
                        <div id="passwordHelpBlock" class="form-text">
                          *Fields are Mandatory
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-light updateProfile" style="color: #ff4c68; font-weight: bold;">Update</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script th:inline="javascript">
        document.getElementById("date").defaultValue = "[[${user.dob}]]";
  </script>
</body>
</html>